   <navbar>
            <ul>
               
        <li>
          <a  aria-current="page" href="{{path('app_about')}}">A propos</a>
        </li>
 
        <li >
          <a  aria-current="page" href="{{path('app_login')}}">Connexion</a>
        </li>
 
         <li>
          <a  aria-current="page" href="{{path('app_logout')}}">Déconnexion</a>
        </li>
 
         <li>
          <a  aria-current="page" href="{{path('app_register')}}">Inscription</a>
        </li>
      </ul>

        </navbar>
<section class="shape">
<img src="/img/galaxy_pattern.webp">
</section>
