{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Créer un nouveau commentaire</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_comment_index') }}">retour a la page précédente</a>
{% endblock %}
